# Copy this file to backend/.env and update the API key if needed
# ODDS_API_KEY=
DB_FILE=./data/bets.db
DISABLE_CRON=false
POSTGRES_URL=postgres://d56c71fe67da5a5062bb921ec3ab79b97e58caadcd280a086ac035259b312e74:sk_zfFvUTSq3Ltw4iKj0msYv@db.prisma.io:5432/postgres?sslmode=require