PORT=4000
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./benjamin-burford-blue-award-3a38ad604274.json
SHEET_ID=16oSWKgLnYY50gcFmSCaBiILd97IYme0BQYLyUAgpqeM
SPORTS_API_KEY=2cb8e2786b5a2c43c58bbbefb50394ce
SPORTS_API_BASE=https://api.sportsdata.example
